<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index page</title>
    <link rel="stylesheet" type="text/css" href="submit.css"/>
    <script type="text/javascript" src="submit.js"></script>
</head>
<body>

    <img src="../art/act2shaderrecreation.png" class="overlay">

    <nav>
        <a href="../index.html" id="homepage">⠀⠀⠀⠀</a>
        <a href="../scores/scores.html" id="scorepage">⠀⠀⠀⠀</a>
        <a href="submit.html" id="submitpage">⠀⠀⠀⠀</a>
    </nav>

    <img src="../art/LOGO.png" alt="Infinite_Tower_Logo_Epic_Socialism" class="homelogo">

    <h2 class="submitheading">Submit</h2>
    <div class="submitform">
        <div class="name">
            <h3>Name</h3>
            <input v-model="name" placeholder="Put name here !">
            <p>name is: {{ name }}</p>
        </input>
        </div>

        <div class="categories">
            <h3>Category</h3>
            <select v-model="selected">
                <option disabled value="">Select category</option>
                <option>Normal</option>
            </select>
        </div>

        <div class="link">
            <h3>Link</h3>
            <input v-model="link" placeholder="Put link here !">
        </div>

        <div class="submit_container">
            <button id="submitbutton">Submit</button>
        </div>
    </div>
    
</body>
</html>