@font-face {
    font-family: goblin;
    src: url(../fonts/goblinfont/AGoblinAppears-o2aV.ttf);
}

body {
    /*image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;*/
    
    background-image: url("../art/background_blurred.png");
    background-size: cover;
    /*background-repeat: no-repeat;*/
}

nav {
    background-color: #D7E2A3;
    padding: 2em;
    margin-bottom: 8em;
    border: 5px solid black;
}

#homepage {
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;

    text-decoration: none;
    color: transparent;
    background-image: url("../art/buttons/main_icon.png");
    background-repeat: no-repeat;
    background-size:cover;
    padding: 1.2em;
    padding-left: 2.2em;
}

#homepage:focus {
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;

    text-decoration: none;
    color: transparent;
    background-image: url("../art/buttons/main_icon_pressed.png");
    background-repeat: no-repeat;
    background-size:cover;
    padding: 1.2em;
    padding-left: 2.2em;
}


#submitpage {
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;

    text-decoration: none;
    color: transparent;
    background-image: url("../art/buttons/home_button.png");
    background-repeat: no-repeat;
    background-size:cover;
    padding: 1.2em;
    padding-left: 2.2em;
}

#submitpage:focus {
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;

    text-decoration: none;
    color: transparent;
    background-image: url("../art/buttons/home_button_pressed.png");
    background-repeat: no-repeat;
    background-size:cover;
    padding: 1.2em;
    padding-left: 2.2em;
}
#scorepage {
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;

    text-decoration: none;
    color: transparent;
    background-image: url("../art/buttons/trophy_icon.png");
    background-repeat: no-repeat;
    background-size:cover;
    padding: 1.2em;
    padding-left: 2.2em;
}

#scorepage:focus {
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;

    text-decoration: none;
    color: transparent;
    background-image: url("../art/buttons/trophy_icon_pressed.png");
    background-repeat: no-repeat;
    background-size:cover;
    padding: 1.2em;
    padding-left: 2.2em;
}

.submitheading {
    font-family: goblin;
    display: inline;
    margin: 1em;
    padding: 1em;
    background-color: #D7E2A3;
    border: 5px solid black;
    position: relative;
    z-index: 1;
}

.submitform {
    font-family: goblin;
    background-color: #D7E2A3;
    border: 5px solid black;
    position: relative;
    margin-top: 1em;
    z-index: 2;
}
.name {
    padding: 1em;
}

.categories {
    padding: 1em;
}

.link {
    padding: 1em;
}

.submitbutton {
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;

    font-family: goblin;
    color: black;
    padding: 2.2em;
    margin: 2em;
    background-image: url("../art/buttons/button.png");
    background-repeat: no-repeat;
    background-size:cover;
}

