@font-face {
    font-family: goblin;
    src: url(../fonts/goblinfont/AGoblinAppears-o2aV.ttf);
}

body {
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    
    background-image: url("../art/background.png");
    background-size: cover;
    /*background-repeat: no-repeat;*/
}

nav {
    background-color: #D7E2A3;
    padding: 2em;
    margin-bottom: 8em;
    border: 5px solid black;
}

.overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    z-index: 4;
}

#homepage {
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;

    text-decoration: none;
    color: transparent;
    background-image: url("../art/buttons/main_icon.png");
    background-repeat: no-repeat;
    background-size:cover;
    padding: 1.2em;
    padding-left: 2.2em;
}

#homepage:focus {
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;

    text-decoration: none;
    color: transparent;
    background-image: url("../art/buttons/main_icon_pressed.png");
    background-repeat: no-repeat;
    background-size:cover;
    padding: 1.2em;
    padding-left: 2.2em;
}


#submitpage {
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;

    text-decoration: none;
    color: transparent;
    background-image: url("../art/buttons/home_button.png");
    background-repeat: no-repeat;
    background-size:cover;
    padding: 1.2em;
    padding-left: 2.2em;
}

#submitpage:focus {
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;

    text-decoration: none;
    color: transparent;
    background-image: url("../art/buttons/home_button_pressed.png");
    background-repeat: no-repeat;
    background-size:cover;
    padding: 1.2em;
    padding-left: 2.2em;
}
#scorepage {
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;

    text-decoration: none;
    color: transparent;
    background-image: url("../art/buttons/trophy_icon.png");
    background-repeat: no-repeat;
    background-size:cover;
    padding: 1.2em;
    padding-left: 2.2em;
}

#scorepage:focus {
    image-rendering: -moz-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;

    text-decoration: none;
    color: transparent;
    background-image: url("../art/buttons/trophy_icon_pressed.png");
    background-repeat: no-repeat;
    background-size:cover;
    padding: 1.2em;
    padding-left: 2.2em;
}

.homelogo {
    font-family: goblin;
    text-align: center;
    margin: 2em;
}

.boardheading {
    font-family: goblin;
    display: inline;
    margin: 1em;
    padding: 1em;
    background-color: #D7E2A3;
    border: 5px solid black;
    position: relative;
    z-index: 1;
}

.leaderboard {
    font-family: goblin;
    padding: 1.5em;
    background-color: #D7E2A3;
    border: 5px solid black;
    position: relative;
    z-index: 2;
}